name: Build SadiqMod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant permission
        run: chmod +x SadiqMod/gradlew

      - name: Build
        working-directory: SadiqMod
        run: ./gradlew build --no-daemon

      - name: Upload JAR
        uses: actions/upload-artifact@v3
        with:
          name: SadiqMod-JAR
          path: SadiqMod/build/libs/*.jar
