name: Build SadiqMod

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build
        run: ./gradlew build
      - name: Upload JAR
        uses: actions/upload-artifact@v3
        with:
          name: SadiqMod
          path: build/libs/*.jar
